.vscode/
__pycache__/
.DS_Store

logs/

model/*none
model/*tanh

model/interp_sigmoid/*
!model/interp_sigmoid/*.json

model/tesgan_sigmoid/*
!model/tesgan_sigmoid/*.json

model/tesganP_sigmoid/*
!model/tesganP_sigmoid/*.json

score/*tanh*
score/*none*
score_appendixE/
score_ablation_study/

etc/draw*

syn/
!syn/tesgan_sigmoid.txt
!syn/tesganP_sigmoid.txt

images/