.vscode/
__pycache__/
.DS_Store
*.ipynb

logs/
score/
data/imdb/

model/maligan
model/mle
model/pgbleu
model/seqgan
model/rankgan

model/*none
model/*tanh
model/interp_layer*
model/*big*
model/tesgan_without*

model/interp_sigmoid/*
!model/interp_sigmoid/*.json

model/tesgan_sigmoid/*
!model/tesgan_sigmoid/*.json

model/tesganP_sigmoid/*
!model/tesganP_sigmoid/*.json

score/*tanh*
score/*none*
score/tesgan_without*
score_ablationStudy/
score_caseStudy/
score_SEMStudy/

etc/draw*
etc/download*
etc/make*

syn/*tanh*
syn/*without*
syn/*none*

images/
result_figure/